html {
    font-family: 'Outfit', sans-serif;
}

body p {
    font-size: 15px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    body {
        color: red;
    }
}
